/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  font-size: 10px;
}

:root {
  --orange-color: #f27935;
}

/* css */
.wrap {
  width: 100vw;
  height: 100vh;
}

/* header */
header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dfe2e6;
}
header .logo {
  height: inherit;
}
header h1 a {
  display: inline-block;
  width: 14rem;
  height: 3.6rem;
  background: url("https://img4.tmon.kr/fe/release/service/static/markup/pc/im/membership/sp-membership.png?v=20231121080105")
    no-repeat;
  background-position: 0 0;
  font-size: 0;
}

/* section */
.termsOfservice {
  margin: 0 auto;
}
.termsOfservice h2 {
  margin: 5rem 0;
  font: 800 2.9rem "Noto Sans KR";
  color: black;
  text-align: center;
}
/* input */
.inputLists,
.nextButton {
  width: 50rem;
  margin: 0 auto;
  overflow: hidden;
}
.visual-inputList li {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 23px 30px 23px 30px;
  border-bottom: 1px solid #dfe2e6;
  font-size: 1.5rem;
}
.visual-inputList li:last-child {
  border-bottom: 0;
}
.visual-inputList li.check-All {
  border: 2px solid var(--orange-color);
  font: 700 1.9rem "Noto Sans KR";
}
.visual-inputList li.check-All .visualCheckbox.on .fa-check {
  font-size: 1.5rem;
}
.visual-inputList li.bold {
  font-weight: 700;
}
.visual-inputList li label input {
  position: absolute;
  left: -10rem;
}
.visual-inputList li label {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.visual-inputList li .visualCheckbox {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe2e6;
  margin-right: 1rem;
  cursor: pointer;
}
.visual-inputList li .visualCheckbox .fa-check {
  color: white;
  opacity: 0;
}
.visual-inputList li .visualCheckbox.on {
  background: var(--orange-color);
}
.visual-inputList li .visualCheckbox.on .fa-check {
  opacity: 1;
}
.visual-inputList li .viewCont {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1.2rem;
}
.visual-inputList li .viewCont a {
  color: #777;
}
.orangeSpan {
  color: var(--orange-color);
  font: 400 1.3rem "Noto Sans KR";
}
.agreeNextButton {
  width: 100%;
  height: 6.4rem;
  border: none;
  background: #777;
  margin-top: 5rem;
  cursor: pointer;
  transition: background 0.4s;
}
.agreeNextButton.agree {
  background: var(--orange-color);
}
.agreeNextButton a {
  font: 700 1.9rem "Noto Sans KR";
  color: white;
}
footer {
  width: 100%;
  text-align: center;
  padding: 6rem 0;
  color: #979797;
  font-size: 1.3rem;
}
