@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
  font-family: "press";
  src: url("./font/Press_Start_2P/PressStart2P-Regular.ttf");
  src: url("./font/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "lemonr";
  src: url("./font/lemon_milk/LEMONMILK-Regular.ttf");
  src: url("./font/lemon_milk/LEMONMILK-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "lemonl";
  src: url("./font/lemon_milk/LEMONMILK-Light.ttf");
  src: url("./font/lemon_milk/LEMONMILK-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "lemonm";
  src: url("./font/lemon_milk/LEMONMILK-Medium.ttf");
  src: url("./font/lemon_milk/LEMONMILK-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "lemonb";
  src: url("./font/lemon_milk/LEMONMILK-Bold.ttf");
  src: url("./font/lemon_milk/LEMONMILK-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pretendard";
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
