body {
  overflow-y: hidden;
}
.product-inner {
  width: 100%;
  max-width: 90rem;
  height: 100%;
  overflow: hidden;
}
.event-products {
  width: 100%;
  display: flex;
}
.event-product {
  width: auto;
  height: auto;
}
.event-product-imgwrap {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 2rem;
  padding: 1rem;
  transition: border 0.1s;
  max-width: 28rem;
  height: 23rem;
  width: auto;
  height: auto;
  overflow: hidden;
}
.event-product-imgwrap em {
  position: absolute;
  top: 7%;
  right: 7%;
  width: 3rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 0.8rem 0.8rem 0 0.8rem;
  background-color: #f9bb00;
  color: white;
  z-index: 100;
}
.event-product-imgwrap .event-product-img {
  min-width: 18rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  background-color: white;
}
.event-product-imgwrap .event-product-img img {
  width: 80%;
  height: 80%;
  background-size: cover;
  transition: 0.3s;
}
.event-product:hover .event-product-imgwrap {
  border: 4px solid #f9bb00;
}
.event-product:hover .event-product-imgwrap .event-product-img img {
  transform: scale(1.1);
}
.event-product-desc {
  text-align: center;
  margin-top: 2rem;
}
.event-product-desc h4,
.event-product-desc span {
  font: 600 1.5rem "NotoSansKR";
  color: #333;
}
.event-product-desc span {
  color: #f95a00;
}
.eventswiper-pagination {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
.eventswiper-pagination span {
  width: 1.2rem;
  height: 1.2rem;
}
.swiper-pagination-bullet.on {
  background: #f9bb00;
  opacity: 1;
}
